.boton {
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: #7cff68;
}

.cambiar {
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: #7cff68;
}

#formTablero {
    text-align: center;
}

html {
    background-color: #24d5ec;
}